<?xml version="1.0"?>
<model>
  <name>crawler robot with flipper arm controlable from ROS</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
   <name>Masaru Shimizue</name>
   <email>shimizu@sist.chukyo-u.ac.jp</email>
  </author>

  <description>
    Crawler robot having 4 flipper arms can be controlled from ROS.
  </description>
</model>
