<?xml version="1.0"?>

<model>
  <name>pioneer2dx_ros3</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Masaru Shimizu</name>
    <email>shimizu@sist.chukyo-u.ac.jp</email>
  </author>

  <description>
    A model of the pioneer 2DX robot with Diff-Drive Plugin, hokuyo plugin and camera Plugin modified for ROS combination.
  </description>
</model>
