<?xml version="1.0"?>

<model>
  <name>Camera with ROS plugins</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Masaru Shimizu</name>
    <email>shimizu@sist.chukyo-u.ac.jp</email>
  </author>

  <description>
    A simple camera model with the ROS typical camera plugin and a modified hector thermal camera plugin.
  </description>
</model>
