<?xml version="1.0"?>

<model>
  <name>Hokuyo modified for ROS combination</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Masaru Shimizu</name>
    <email>shimizu@sist.chukyo-u.ac.jp</email>
  </author>

  <description>
    Hokuyo model modified for ROS combination.
  </description>
</model>
