<?xml version="1.0"?>
<launch>

  <arg name="paused"   default="false"/>
  <arg name="gui"      default="true"/>
  <arg name="verbose"  default="false"/>
  <arg name="world"    default="centaur.world"/>
  <arg name="modelSdf" default="model.sdf"/>

  <param name="use_sim_time" value="true"/>
  
  <!-- Launch gazebo -->
  <node name="gazebo" pkg="gazebo_ros" type="gzserver" respawn="false" output="screen" args="$(dirname)/../worlds/$(arg world)"/>
  <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen"/>

  <!-- Launch robot state publishers -->
  <include file="$(dirname)/../launch/make_robot_description_and_call_state_publisher_centaur.launch">
    <arg name="robot_name"  value="robot"/>
    <arg name="xcoordinate" value="0.0"/>
    <arg name="ycoordinate" value="0.0"/>
    <arg name="zcoordinate" value="0.0"/>
    <arg name="modelSdf"    value="$(arg modelSdf)"/>
  </include>
  <include file="$(dirname)/../launch/centaur_joint_trajectory.launch">
    <arg name="robot_name" value="robot"/>
  </include>

  <!-- Transfer sound to ROS -->
  <include file="$(find audio_capture)/launch/capture.launch">
    <arg name="ns" value="gazebo"/>
    <arg name="device" value="pulse"/>
  </include>

</launch>


