<?xml version="1.0"?>

<model>
  <name>centaur</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Masaru Shimizu</name>
    <email>shimizu@sist.chukyo-u.ac.jp</email>
  </author>

  <description>
    A centaur robot model from Hector repo. converted into sdf.
  </description>

</model>
