<?xml version="1.0"?>
<model>
  <name>fourlegs_wheeled</name>
  <version>1.0</version>
  <sdf version='1.5'>model_inertialed.sdf</sdf>

  <author>
   <name>Masaru Shimizu</name>
   <email>shimizu@sist.chukyo-u.ac.jp</email>
  </author>

  <description>
    A Sample QuadrupedRobot wearing wheels.
  </description>
</model>
