<?xml version="1.0" ?>
<robot name="robot">
  <joint name="robot__left_wheel_hinge" type="fixed">
    <parent link="robot__base_link"/>
    <child link="robot__left_wheel"/>
    <origin rpy="0      1.5707  1.5707" xyz="0.09999  0.14     0.10999"/>
    <axis xyz="9.00000000e-05   9.00000000e-05   1.00000000e+00"/>
    <limit effort="0" lower="0" upper="0" velocity="0"/>
  </joint>
  <joint name="robot__right_wheel_hinge" type="fixed">
    <parent link="robot__base_link"/>
    <child link="robot__right_wheel"/>
    <origin rpy="0      1.5707  1.5707" xyz="0.1  -0.14  0.11"/>
    <axis xyz="9.00000000e-05   9.00000000e-05   1.00000000e+00"/>
    <limit effort="0" lower="0" upper="0" velocity="0"/>
  </joint>
  <joint name="robot__camera_joint" type="fixed">
    <parent link="robot__base_link"/>
    <child link="robot__camera__camera_link"/>
    <origin rpy="0  0  0" xyz="0.1    0     0.433"/>
    <axis xyz="0  0  1"/>
    <limit effort="0.0" lower="0.0" upper="0.0" velocity="0.0"/>
  </joint>
  <joint name="robot__hokuyo_joint" type="fixed">
    <parent link="robot__base_link"/>
    <child link="robot__hokuyo__hokuyo_link"/>
    <origin rpy="0  0  0" xyz="0.1    0     0.333"/>
    <axis xyz="0  0  1"/>
    <limit effort="0.0" lower="0.0" upper="0.0" velocity="0.0"/>
  </joint>
  <link name="robot__base_link">
    <inertial>
      <mass value="5.67"/>
      <origin rpy="0  0  0" xyz="0    0    0.16"/>
      <inertia ixx="0.07" ixy="0" ixz="0" iyy="0.08" iyz="0" izz="0.10"/>
    </inertial>
    <collision name="robot__collision">
      <origin rpy="0  0  0" xyz="0    0    0.16"/>
      <geometry>
        <box size="0.445 0.277 0.17"/>
      </geometry>
    </collision>
    <collision name="robot__castor_collision">
      <origin rpy="0  0  0" xyz="-0.2   0    0.04"/>
      <geometry>
        <sphere radius="0.04"/>
      </geometry>
    </collision>
    <visual name="robot__visual">
      <origin rpy="0  0  0" xyz="0   0   0.2"/>
      <geometry>
        <mesh filename="package://PATHTOMESHES/meshes/chassis.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="robot__castor_visual">
      <origin rpy="0  0  0" xyz="-0.2   0    0.04"/>
      <geometry>
        <sphere radius="0.04"/>
      </geometry>
    </visual>
  </link>
  <link name="robot__right_wheel">
    <inertial>
      <mass value="1.5"/>
      <origin rpy="0  0  0" xyz="0    0   -0.03"/>
      <inertia ixx="0.0051" ixy="0" ixz="0" iyy="0.0051" iyz="0" izz="0.0090"/>
    </inertial>
    <collision name="robot__collision">
      <origin rpy="0  0  0" xyz="0    0   -0.03"/>
      <geometry>
        <cylinder length="0.05" radius="0.11"/>
      </geometry>
    </collision>
    <visual name="robot__visual">
      <origin rpy="0  0  0" xyz="0    0   -0.03"/>
      <geometry>
        <cylinder length="0.05" radius="0.11"/>
      </geometry>
    </visual>
  </link>
  <link name="robot__left_wheel">
    <inertial>
      <mass value="1.5"/>
      <origin rpy="0  0  0" xyz="0    0    0.03"/>
      <inertia ixx="0.0051" ixy="0" ixz="0" iyy="0.0051" iyz="0" izz="0.0090"/>
    </inertial>
    <collision name="robot__collision">
      <origin rpy="0  0  0" xyz="0    0    0.03"/>
      <geometry>
        <cylinder length="0.05" radius="0.11"/>
      </geometry>
    </collision>
    <visual name="robot__visual">
      <origin rpy="0  0  0" xyz="0    0    0.03"/>
      <geometry>
        <cylinder length="0.05" radius="0.11"/>
      </geometry>
    </visual>
  </link>
  <link name="robot__camera__camera_link">
    <inertial>
      <mass value="0.1"/>
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <inertia ixx="0.000166667" ixy="0" ixz="0" iyy="0.000166667" iyz="0" izz="0.000166667"/>
    </inertial>
    <collision name="robot__camera__collision-box">
      <origin rpy="0  0  0" xyz="-0.01  0    0"/>
      <geometry>
        <box size="0.08 0.1 0.1"/>
      </geometry>
    </collision>
    <collision name="robot__camera__collision-lens">
      <origin rpy="0    1.57  0" xyz="0.04  0    0"/>
      <geometry>
        <cylinder length="0.02" radius="0.03"/>
      </geometry>
    </collision>
    <visual name="robot__camera__visual-box">
      <origin rpy="0  0  0" xyz="-0.01  0    0"/>
      <geometry>
        <box size="0.08 0.1 0.1"/>
      </geometry>
    </visual>
    <visual name="robot__camera__visual-lens">
      <origin rpy="0    1.57  0" xyz="0.04  0    0"/>
      <geometry>
        <cylinder length="0.02" radius="0.03"/>
      </geometry>
    </visual>
  </link>
  <link name="robot__hokuyo__hokuyo_link">
    <inertial>
      <mass value="0.1"/>
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <inertia ixx="0.6205208333e-04" ixy="0" ixz="0" iyy="0.6205208333e-04" iyz="0" izz="4.1927083333e-05"/>
    </inertial>
    <collision name="robot__hokuyo__collision-base">
      <origin rpy="0  0  0" xyz="0      0     -0.0145"/>
      <geometry>
        <box size="0.05 0.05 0.041"/>
      </geometry>
    </collision>
    <collision name="robot__hokuyo__collision-top">
      <origin rpy="0  0  0" xyz="0      0      0.0205"/>
      <geometry>
        <cylinder length="0.029" radius="0.021"/>
      </geometry>
    </collision>
    <visual name="robot__hokuyo__visual-base">
      <origin rpy="0  0  0" xyz="0      0     -0.0145"/>
      <geometry>
        <box size="0.05 0.05 0.041"/>
      </geometry>
    </visual>
    <visual name="robot__hokuyo__visual-top">
      <origin rpy="0  0  0" xyz="0      0      0.0205"/>
      <geometry>
        <cylinder length="0.029" radius="0.021"/>
      </geometry>
    </visual>
    <visual name="robot__hokuyo__visual-top-back">
      <origin rpy="0  0  0" xyz="-0.02   0     0.019"/>
      <geometry>
        <box size="0.01 0.01 0.025"/>
      </geometry>
    </visual>
  </link>
</robot>
